requests==2.18.4
scikit-learn==0.19.1
scipy==1.1.0
Spotify-Charts-API==1.0.1
spotipy==2.4.4
tensorboard==1.13.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tqdm==4.31.1
pandas==0.23.3
psycopg2==2.7.7
Flask==1.0.2
Flask-Cors==3.0.4
fycharts==1.1.1
gunicorn==19.9.0
h5py==2.7.1
html5lib==1.0.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
numpy==1.14.5
