requests==2.18.4
scikit-image==0.14.2
scikit-learn==0.19.1
scipy==1.1.0
simplejson==3.16.0
Spotify-Charts-API==1.0.1
spotipy==2.4.4
tensorboard==1.13.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tqdm==4.31.1
unicodecsv==0.14.1
urllib3==1.22
webencodings==0.5.1
packaging==17.1
pandas==0.23.3
pandocfilters==1.4.2
path.py==11.0.1
pathlib-mate==0.0.14
pathlib2==2.3.2
pep8==1.7.1
pkginfo==1.4.2
psycopg2==2.7.7
py==1.5.3
pyOpenSSL==18.0.0
pypandoc==1.4
autopep8==1.4.2
contextlib2==0.5.5
Cython==0.27.3
distributed==1.21.8
docutils==0.14
entrypoints==0.2.3
fastcache==1.0.2
Flask==1.0.2
Flask-Cors==3.0.4
fycharts==1.1.1
gunicorn==19.9.0
h5py==2.7.1
html5lib==1.0.1
ipykernel==4.8.2
ipympl==0.2.1
ipython==6.4.0
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.12.0
Jinja2==2.10
jsonschema==2.6.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
notebook==5.7.0
numpy==1.14.5
numpydoc==0.8.0
