<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Spotify Top Hits</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Spotify Hits</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  {% if songs %}  
  <section id="intro">

    <div class="intro-container">
        
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
          
  {% else %}
  <section id="intro">

      <div class="intro-container">
          
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
  
          <ol class="carousel-indicators"></ol>
  
          <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="carousel-background"><img src="{{url_for('static',filename='img/intro-carousel/datacoding.jpg')}}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>What makes a hit?</h2>
                <p>Use our trained data model to see how likely a song is to join the ranks of the Spotify Viral Hits playlist.</p>
                <a href="#featured-services" class="btn-get-started scrollto">Try it Now!</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{{url_for('static',filename='img/intro-carousel/albumartone.jpg')}}" alt=" "></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Behind the Music</h2>
                <p>Curious about what went into this project? Take a look at the workflow and resources involved.</p>
                <a href="#about" class="btn-get-started scrollto">Find out More</a>
              </div>
            </div>
          </div>


        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->
  {% endif %}
   <div>
  {% if songs %}
  <div style="padding: 30px 0; height: 92px;"></div>
  {% else %}
  <form id="featured-services" method="POST" action="/send">

      <label for="songTitle"></label>
      <input type="text" id="songTitle" name="song" placeholder="Enter a song title here">
  
      <input type="submit" value="submit">
  </form>
  {% endif %}
    <tbody style="padding-top: 100px" id="searchresults">
      {% if songs %}
      <h3>Search Results:</h3>
      
        {% if songs == "err1" %}
          <h4>No information entered, please <a href="/">try again</a></h4>

        {% elif songs == "err2" %}
          <h4>No Results Found</h4>
          <h4><a href="/">Try a different song</a></h4>
        {% else %}
        <ul>
          {% for song in songs %}
            <li><a href="/{{ song.id }}#featured-services">{{ song.name }} by {{ song.artist }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endif %}
    </tbody>
  </div>
  {% if features %}
    <!--==========================
      Skills Section
    ============================-->
    <section id="skills">
        <div class="container">
  
          <header class="section-header">
            <h3>RESULTS</h3>
            <p>
            {% if prediction == 1 %}
            <img src="{{url_for('static',filename='img/thumbsup.gif')}}" alt="" class="img-fluid">
            <p>Based on our model, {{ song_dict.name }} by {{ song_dict.artist }} has a <strong>high</strong> likelihood of becoming a top track!</p>
            {% elif prediction == 0 %}
            <img src="{{url_for('static',filename='img/thumbsdown.gif')}}" alt="" class="img-fluid">
            <p>Based on our model, {{ song_dict.name }} by {{ song_dict.artist }} has a <strong>low</strong> likelihood of becoming a top track.</p>
            {% endif %}
            </p>
          </header>
          <table class="table table-sm table-dark">
              <thead>
                <tr>
                  <th class="bg-success" scope="col">Feature</th>
                  <th class="bg-success" scope="col">Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="The duration of the track in milliseconds.">
                        duration_ms
                        </button></td>
                      <td>{{ features.duration_ms }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="The estimated overall key of the track. Integers map to pitches using standard Pitch Class notation . E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on. If no key was detected, the value is -1.">
                       key
                       </button></td>
                      <td>{{ features.key }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.">
                       mode
                       </button></td>
                      <td>{{ features.mode }}</td>
                </tr>  
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="An estimated overall time signature of a track. The time signature (meter) is a notational convention to specify how many beats are in each bar (or measure).">
                        time_signature
                       </button></td>
                      <td>{{ features.time_signature }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.">
                        acousticness
                       </button></td>
                      <td>{{ features.acousticness }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.">
                        danceability
                       </button></td>
                      <td>{{ features.danceability }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.">
                        energy
                       </button></td>
                      <td>{{ features.energy }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.">
                        instrumentalness
                       </button></td>
                      <td>{{ features.instrumentalness }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.">
                        liveness
                       </button></td>
                      <td>{{ features.liveness }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db.">
                        loudness
                       </button></td>
                      <td>{{ features.loudness }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.">
                        speechiness
                       </button></td>
                      <td>{{ features.speechiness }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).">
                        valence
                       </button></td>
                      <td>{{ features.valence }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.">
                        tempo
                       </button></td>
                      <td>{{ features.tempo }}</td>
                </tr>
              </tbody>
            </table>
  {% if features %}
  <div>
  <form method="POST" action="/playlist" role="form", name="petform">
    <div class="form-group">
        <label for="inputName"></label>
        <input type="text" class="form-control" id="playlistName" name="playlistName" placeholder="Enter the name of your playlist">
    </div>
    <div class="form-group">
        <label for="inputName"></label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter your user name">
    </div>
    <input type="submit" value="submit" class="btn btn-default">
</form></div>
  {% endif %}

      </div>
    </section>
<main id="main">
{% endif %}

<div>{% if fit_result == 1 %}
    <img src="{{url_for('static',filename='img/thumbsup.gif')}}" alt="" class="img-fluid">
    <p>{{ song_dict.name }} by {{ song_dict.artist }} appears to be a <strong>good</strong> fit for your playlist!</p>
{% elif fit_result == 0 %}
  <img src="{{url_for('static',filename='img/thumbsdown.gif')}}" alt="" class="img-fluid">
  <p>{{ song_dict.name }} by {{ song_dict.artist }} does <strong>not</strong> appear to be a good fit for your playlist</p>
{% elif fit_result == "err1" %}
  <p>Insufficient search parameters entered; please try again</p>
{% elif fit_result == "err2" %}
  <p>No results; please try again</p>
{% endif %}</div>
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Behind the Music</h3>
          <p style="color: #333">
            This project was an opportunity for our group to apply various programming tools and showcase possible application for machine learning.
          </p>
          <p>
            
          </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="{{url_for('static',filename='img/skl.png')}}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">SkiKit Learn</a></h2>
              <p>
                Our data model was trained to identify common feature patterns among known hit songs.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="{{url_for('static',filename='img/spotify.png')}}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Spotify</a></h2>
              <p>
                We utilized the Spotify API to retrieve the id, artist, and features of a particular song, then fed those into our trained model.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img style="width: 200%" src="{{url_for('static',filename='img/flask.png')}}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Flask</a></h2>
              <p>
                Using our trained data model, song information was evaluated to determine the final result.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3><a href="https://developer.spotify.com/documentation/web-api/">Spotipy API</a></h3>
            <p>Based on simple REST principles, the Spotify Web API endpoints return JSON metadata about music artists, albums, and tracks, directly from the Spotify Data Catalogue.</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#about">About</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="https://github.com/willb410/Smoothify">GitHub</a></li>
                <!--<li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>-->
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 footer-links">
                <h4>Contact Us</h4>
                <ul>
                  <li><a href="mailto:rico_medford@live.com">Rico : rico_medford@live.com</a></li>
                  <li><a href="mailto:jcherepow@gmail.com">Jackie : jcherepow@gmail.com</a></li>
                  <li><a href="mailto:willb410@gmail.com">Will : willb410@gmail.com</a></li>
                </ul>
              </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>The Smooths</strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/superfish/hoverIntent.js"></script>
  <script src="static/lib/superfish/superfish.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <script src="static/lib/waypoints/waypoints.min.js"></script>
  <script src="static/lib/counterup/counterup.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>

    <!-- Javascript File -->
<!--     <script src="static/js/app.js"></script> -->
<script type="text/javascript">
$(function () {
 $('[data-toggle="popover"]').popover()
})
</script>
</body>

</html>
